<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121401963302-u7kteunj0usjbr0ejbkfak3ruk99rcq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121401963302-u7kteunj0usjbr0ejbkfak3ruk99rcq4</string>
	<key>API_KEY</key>
	<string>AIzaSyCvLw-9HaIZmnqu8ukfxFPv_vVFV0vZrfU</string>
	<key>GCM_SENDER_ID</key>
	<string>121401963302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymAppPrototypeFrontend</string>
	<key>PROJECT_ID</key>
	<string>fitsync-app-c93ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fitsync-app-c93ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121401963302:ios:c96611cd6fc5ab522cc7e7</string>
	<key>DATABASE_URL</key>
	<string>https://fitsync-app-c93ad-default-rtdb.firebaseio.com</string>
</dict>
</plist>